<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/explicacao.css">
    <script src="static/script.js"></script>
    <title>Español | Explicação</title>
</head>
<body>

    <section class="explicacao">
        <div class="tabela">
            <div class="pronomes">
                <h3>Yo</h3>
                <h3>Tú</h3>
                <h3>Él - Ella - Usted</h3>
                <h3>Nosotros - Nosotras</h3>
                <h3>Vosotros - Vosotras</h3>
                <h3>Ellos - Ellas - Ustedes</h3>
            </div>
        </div>
    </section>

    <div class="botao">
    <form action="{{ roteador('inicio')}}" method="post">
        <input type="submit" value="Regresar"">
    </form>
    <form action="{{ roteador('loop')}}" method="post">
        <input type="submit" name="botaoproximo" value="Siguiente"">
    </form>
    </div>

</body>
</html>