<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/telainicio.css">
    <script defer src="static/script.js"></script>
    <title>Español | Início</title>
</head>
<body>
    <header>
        <div class="titulo">
            <h1>Grupo Productivo 5</h1>
        </div>
        <h2>Verbos regulares que terminan en AR</h2>
        <h3>Bienvenido a nuestro juego de trabajo en español!</h3>

    </header>

    <form action="{{ roteador('explicacao')}}" method="post">
        <input type="submit" name="proximo" value="Empezar" class="btn-comeco">
    </form>
</body>
</html> 