<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/questao.css">
    <script defer src="static/script.js"></script>
    <title>Español | Questão {{qatual}}</title>
</head>
<body>

    <div class="botoes-topo">
        <form action="{{ roteador('explicacao')}}" method="post">
            <abbr title="Regresar"><input type="submit" value="&larr;" class="btn-voltar"></abbr>
        </form>
        
        <div class="acertos">
            <p>{{acertos}}✔️</p>
        </div>
    </div>

    <section class="pergunta">
        <h2>{{qatual}}) {{enunciado}}</h2>
    </section>

        <form class="areaR" action="{{ url_for("loop")}}" method="post">
            <button class="opcoes{{estado[0]}}" name="A">A) {{itens[0]}}</button>
            <button class="opcoes{{estado[1]}}" name="B">B) {{itens[1]}}</button>
            <button class="opcoes{{estado[2]}}" name="C">C) {{itens[2]}}</button>
            <button class="opcoes{{estado[3]}}" name="D">D) {{itens[3]}}</button>
        </form>

        <script>
            if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
            }
            </script>
</body>
</html>
