<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/questao2.css">
    <title>Español | Questão {{qAtual}}</title>
</head>
<body>

    <div class="botoes-topo">
        <form action="{{ roteador('explicacao')}}" method="post">
            <abbr title="Regresar"><input type="submit" value="&lArr;" class="btn-voltar"></abbr>
        </form>
        
        <div class="acertos">
            <p>{{acertos}}✔️</p>
        </div>
    </div>

    <section class="pergunta">
        <h2>{{qAtual}}) {{enunciado}} <br>"{{frase}}"</h2>
    </section>

        <form class="areaR" action="{{ url_for("questao")}}" method="post">
            <button class="opcoes1{{estado[0]}}" name="Verdadero">Verdadero ✓</button>
            <button class="opcoes2{{estado[1]}}" name="Falso">Falso ✕</button>
        </form>

        <script>
            if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
            }
            </script>
        <div class="botao-baixo">
            <form action="{{ url_for("questao")}}" method="post">
                <abbr title="Voltar questao">
                    <input name="vquestao" type="submit" value="&larr;" class="btn-vquestao" {{disabled[0]}}>
                </abbr>
            </form>
            <form action="{{ url_for("questao")}}" method="post">
                <abbr title="Avancar questao">
                    <input name="aquestao" type="submit" value="&rarr;" class="btn-aquestao" {{disabled[1]}}>
                </abbr>
            </form>
        </div>
</body>
</html>
