<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>Document</title>
</head>
<body>
    <div class="acertos">
        <h1>{{acertos}} ✔</h1>
    </div>
    

    <section class="pergunta">
        <h2>{{enunciado}}</h2>
    </section>

        <form class="areaR" action="{{ url_for("loop")}}" method="post">
            <button class="opcoes{{estado[0]}}" name="A">A) {{itens[0]}}</button>
            <button class="opcoes{{estado[1]}}" name="B">B) {{itens[1]}}</button>
            <button class="opcoes{{estado[2]}}" name="C">C) {{itens[2]}}</button>
            <button class="opcoes{{estado[3]}}" name="D">D) {{itens[3]}}</button>
        </form>



</body>
</html>
