<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Document</title>
</head>
<body>
    <section class="pergunta">
        <h2>{{pergunta}}</h2>
    </section>

    <section class="areaR">
        <button class="opcoes">{{itens[0]}}</button>
        <button class="opcoes">{{itens[1]}}</button>
        <button class="opcoes">{{itens[2]}}</button>
        <button class="opcoes">{{itens[3]}}</button>
    </section>

    <br>

    <form class="escolha" action="{{ url_for("conjugacao")}}" method="post">
        <input name="text" class="escolha">
    </form>

</body>
</html>
