@font-face {
    font-family: 'Feather Bold';
    src: url(fontes/feather_bold_by_typicalbro44_dee263c.ttf);
}

.botoes-topo {
    display: flex;
}

.botao-baixo {
    display: flex;
}

.btn-vquestao {
    background-color: rgb(219, 35, 35);
    color: white;
    border-radius: 10px;
    border-style: none;
    margin-left: 250px;
    width: 75px;
    height: 40px;
    padding: 5px;
    padding-top: 3px;
    outline: 0;
    cursor: pointer;
    font-family: 'Feather Bold';
    font-size: 20px;
    text-align: center;
}
.btn-aquestao {
    background-color: rgb(219, 35, 35);
    color: white;
    border-radius: 10px;
    border-style: none;
    margin-left: 660px;
    width: 75px;
    height: 40px;
    padding: 5px;
    padding-top: 3px;
    outline: 0;
    cursor: pointer;
    font-family: 'Feather Bold';
    font-size: 20px;
    text-align: center;
}

.btn-voltar:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-voltar {
    background-color: rgb(241, 57, 57);
    color: white;
    border-radius: 10px;
    border-style: none;
    width: 50px;
    height: 40px;
    padding: 5px;
    padding-top: 3px;
    outline: 0;
    cursor: pointer;
    font-family: 'Feather Bold';
    font-size: 20px;
    text-align: center;
}
  
.btn-voltar:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.acertos {
    background-color: white;
    width: 50px;
    height: 30px;
    padding: 5px;
    margin-left: 93%;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}

p {
    margin-top: 10%;
    margin: auto;
}

body {
    font-family: 'Feather Bold';
    background: linear-gradient(to right, rgb(237, 172, 20), rgb(255, 102, 0));
    color: rgb(85, 85, 85);
}

h1 {
    transform: translateY(-15px);
}

.pergunta {
    width: 800px;
    margin: auto;
    margin-top: 0%;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    font-size: 20px;

}

.areaR {
    max-width: 600px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    margin-top: 10%;
}

.opcoes1 {
    background-color: rgb(65, 216, 34);
    color: white;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 10%;
    width: 250px;
    height: 75px;
    padding: 8px;
    outline: 0;
    cursor: pointer;
    font-family: 'Feather Bold';
    font-size: 25px;
}
.opcoes2 {
    background-color: rgb(240, 21, 21);
    color: white;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 10%;
    width: 250px;
    height: 75px;
    padding: 8px;
    outline: 0;
    cursor: pointer;
    font-family: 'Feather Bold';
    font-size: 25px;
}

.opcoes1certa {
    background-color: rgb(65, 216, 34);
    color: white;
    border-radius: 10px;
    border-style: none;
    width: 250px;
    height: 75px;
    margin-bottom: 10%;
    padding: 8px;
    outline: 0;
    cursor: pointer;
    font-family: 'Feather Bold';
    font-size: 25px;
}
.opcoes2certa {
    background-color: rgb(240, 21, 21);
    color: white;
    border-radius: 10px;
    border-style: none;
    width: 250px;
    height: 75px;
    margin-bottom: 10%;
    padding: 8px;
    outline: 0;
    cursor: pointer;
    font-family: 'Feather Bold';
    font-size: 25px;
}

.opcoes1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.opcoes2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.opcoes1certa:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.opcoes2certa:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.opcoes1:active {
    transition: background-color 0.25s ease-in-out;
    background-color: rgb(55, 241, 55);
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.opcoes2:active {
    transition: background-color 0.25s ease-in-out;
    background-color: red;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.opcoes1certa:active {
    transition: background-color 0.25s ease-in-out;
    background-color: rgb(55, 241, 55);
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.opcoes2certa:active {
    transition: background-color 0.25s ease-in-out;
    background-color: red;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

input:disabled {
    background-color: rgb(163, 45, 45);
    cursor: not-allowed;
}
  