@font-face {
    font-family: 'Feather Bold';
    src: url(fontes/feather_bold_by_typicalbro44_dee263c.ttf);
}

body {
    font-family: 'Feather Bold';
    background: linear-gradient(to right, rgb(237, 172, 20), rgb(255, 102, 0));
    color: rgb(85, 85, 85);
    text-align: center;
}

.titulo{
    background-color: rgb(241, 57, 57);
    color: white;
    font-size: 25px;
    width: 816px;
    margin: 0 auto;
    margin-top: -5%;
    margin-left: -1%;
    border-radius: 20px 20px 0 0;
}

h2{
    text-decoration: underline;
}

h3 {
    color: white;
    font-size: 35px;
    margin-top: 5%;
}

.container {
    width: 800px;
    margin: auto;
    margin-top: 5%;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

input {
    background-color: rgb(241, 57, 57);
    color: white;
    border-radius: 10px;
    border-style: none;
    width: 250px;
    height: 50px;
    padding: 8px;
    margin-top: 2%;
    outline: 0;
    cursor: pointer;
    font-family: 'Feather Bold';
    font-size: 25px;
}

input:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
    
input:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}